@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;

  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}

.section-descr p {
  margin-bottom: 15px;
}

.list-item {
  list-style-type: square;

  margin-left: 18px;
  margin-bottom: 4px;
  padding-left: 10px;
}

/* Vendors */

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/section";
@import "blocks/download-btn";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/portfolio";
@import "blocks/tariffs";
@import "blocks/calculator";
@import "blocks/components";
@import "blocks/repair";
@import "blocks/partners";
@import "blocks/contacts";
@import "blocks/footer";

.bold-text {
  font-weight: 700;
}

.margin-left-content {
  margin-left: 330px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
