@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";
@import "vendor/swiper";

:root,
::before {
  --padding-left-title: 330px;
  --padding-left-content: 330px;

  @include breakpoint($xl-bp) {
    --padding-left-title: 250px;
    --padding-left-content: 250px;
  }

  @include breakpoint(1024px) {
    --padding-left-content: 70px;
  }

  @include breakpoint($md-bp) {
    --padding-left-title: 170px;
    --padding-left-content: 0;
  }

  @include breakpoint($sm-bp) {
    --padding-left-title: 100px;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;

  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $black;

  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
  }
}

a {
  text-decoration: none;
  color: $black;
}

.padding-left-content {
  padding-left: var(--padding-left-content);
}

.padding-left-content p {
  margin-bottom: 15px;
}

.list-item {
  list-style-type: square;

  margin-left: 18px;
  margin-bottom: 4px;
  padding-left: 10px;
}

.social-item {
  fill: $socicon;

  &:hover svg {
    fill: $white;
  }
}

.social-item--fb svg {
  width: 28px;
  height: 28px;
}

.social-item--inst svg {
  width: 28px;
  height: 28px;
}

.social-item--vk svg {
  width: 48px;
  height: 28px;
}

.social-item--tg svg {
  width: 26px;
  height: 22px;
}

.social-item + .social-item {
  margin-left: 25px;
}

/* Vendors */

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/section";
@import "blocks/download-btn";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/portfolio";
@import "blocks/tariffs";
@import "blocks/calculator";
@import "blocks/components";
@import "blocks/repair";
@import "blocks/partners";
@import "blocks/contacts";
@import "blocks/project";
@import "blocks/consultation";
@import "blocks/other-project";
@import "blocks/footer";
@import "blocks/form-confirmed";

.bold-text {
  font-weight: 700;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.arrow-totop {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 22;

  cursor: pointer;

  & img {
    width: 100%;
    max-width: 40px;
  }
}
