.components__inner {
  display: flex;
  justify-content: center;

  @include breakpoint(1420px) {
    flex-wrap: wrap;
  }

  @include breakpoint(745px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.components .swiper-container {
  padding-bottom: 40px;

  .swiper-pagination-bullets {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 60px;
    height: 1px;

    background: #616161;
    opacity: 1;
    border-radius: 0;
  }

  .swiper-pagination-bullet-active {
    height: 2px;

    margin: 0 5px;

    background: $black;
  }
}

.components-slide {
  width: 100%;

  & + & {
    margin-left: 5px;

    @include breakpoint(1415px) {
      margin-left: 0;
    }
  }

  @include breakpoint(1420px) {
    width: 49%;

    margin-bottom: 20px;
  }

  @include breakpoint(745px) {
    width: 100%;
  }
}

.components-slide:nth-child(even) {
  @include breakpoint(1425px) {
    margin-left: 5px;
  }

  @include breakpoint(745px) {
    margin-left: 0;
  }
}

.components__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 441px;
  min-height: 720px;

  color: $white;

  padding: 20px 25px 25px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include breakpoint(1420px) {
    width: auto;
    max-width: 455px;
    min-height: 600px;
  }

  @include breakpoint(745px) {
    width: auto;

    min-height: 480px;

    margin: 0 auto;
  }

  @include breakpoint($sm-bp) {
    max-width: 290px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: rgba(56, 54, 54, 0.55);
  }
}

.components-slide:nth-child(odd) .components__item {
  @include breakpoint(1425px) {
    margin-left: auto;
  }
}

.components__item-title {
  width: 100%;
  max-width: 300px;

  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.25;

  letter-spacing: 0.125em;
  text-transform: uppercase;

  @include breakpoint(745px) {
    max-width: 245px;

    font-size: 2rem;
  }
}

.components__item-text {
  width: 100%;
  max-width: 290px;

  letter-spacing: 0.05em;

  margin-bottom: 80px;

  @include breakpoint(745px) {
    margin-bottom: 49px;
  }

  @include breakpoint($sm-bp) {
    max-width: 260px;
  }
}

.download-btn--components {
  border-color: $white;
  color: $white;
}

.download-btn--components.download-btn::after {
  background-color: $white;
}
