.consultation-title {
  max-width: 850px;

  @include breakpoint($sm-bp) {
    font-size: 2.2rem;
  }
}

.consultation__text {
  width: 100%;
  max-width: 505px;

  margin-right: 65px;

  @include breakpoint($sm-bp) {
    margin-right: 0;
  }
}

.consultation__inner {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 30px;
}

.consultation__form {
  display: flex;
  width: 100%;

  @include breakpoint(665px) {
    flex-wrap: wrap;
  }
}

.consultation__form-tel {
  width: 100%;
  max-width: 313px;
  height: 60px;

  line-height: 1.1;
  color: $black;

  border: 1px solid $black;
  background-color: transparent;

  padding: 20px 30px 20px;
  margin-right: 20px;

  @include breakpoint(665px) {
    margin-bottom: 20px;
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0px 0px 2px 0px #616161;
  }
  &:focus {
    outline: none;
    box-shadow: 0px 0px 2px 0px #616161;
  }
}

.consultation__form-btn {
  width: 100%;
  max-width: 313px;
  height: 60px;

  line-height: 1.1;
  color: $white;

  border: none;
  background-color: $primary;
}
