.contacts {
  padding-bottom: 180px;

  @include breakpoint($xl-bp) {
    padding-bottom: 100px;
  }

  @include breakpoint($sm-bp) {
    padding-bottom: 45px;
  }
}

.section__title--contacts {
  margin-bottom: 0;

  @include breakpoint($xl-bp) {
    margin-bottom: 64px;
  }

  @include breakpoint($md-bp) {
    margin-bottom: 40px;
  }

  @include breakpoint($sm-bp) {
    margin-bottom: 30px;
  }
}

.contacts__inner {
  display: flex;

  @include breakpoint(710px) {
    flex-wrap: wrap;
  }
}

.contacts__content {
  max-width: calc(280px + var(--padding-left-content));

  margin-top: 50px;
  margin-right: 170px;

  @include breakpoint(1500px) {
    margin-right: 100px;
  }

  @include breakpoint($xl-bp) {
    margin-top: 25px;
    margin-right: 20px;
  }

  @include breakpoint(710px) {
    order: 2;
  }
}

.contacts__item {
  margin-bottom: 50px;
}

.contacts__item-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin-bottom: 5px;
}

.contacts__item-descr {
  line-height: 1.1;

  margin-bottom: 5px;
}

.contacts__item-phone {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 1.2;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 785px;

  padding: 48px 50px 54px;

  background-color: $primary;

  @include breakpoint($md-bp) {
    padding: 30px 50px;
  }

  @include breakpoint(710px) {
    order: 1;

    margin-bottom: 20px;
  }

  @include breakpoint($sm-bp) {
    padding: 34px 10px 40px;
  }
}

.contacts__form-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.25;
  color: $white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin-bottom: 10px;

  @include breakpoint($sm-bp) {
    font-size: 1.8rem;
  }
}

.contacts__form-descr {
  font-size: 18px;
  color: $white;
  letter-spacing: 0.05em;

  margin-bottom: 30px;

  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
  }
}

.contacts__form-input {
  width: 100%;
  max-width: 313px;
  height: 60px;

  line-height: 1.1;
  color: #616161;

  border: 1px solid #616161;
  background-color: transparent;

  padding: 20px 30px 20px;

  &:hover {
    border: 2px solid $white;
  }
  &:focus {
    color: $white;

    outline: none;
    border: 2px solid $white;
  }
}

.contacts__form-input + .contacts__form-input {
  margin-top: 10px;
  margin-bottom: 30px;
}

.contacts__form-btn {
  width: 100%;
  max-width: 313px;
  height: 60px;

  font-family: Raleway, sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  color: $black;

  background: $white;
  border: none;
}

.contacts__social {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.contacts__social .social-item svg {
  fill: $black;
}

.contacts__social .social-item:hover svg {
  transform: scale(1.1);
  transition: all 0.2s linear;
}
