.footer {
  padding: 50px 0px;

  background-color: $primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $white;
  }
}

.footer-menu__nav-list {
  display: flex;
}

.footer-menu__item + .footer-menu__item {
  margin-left: 36px;
}

.footer-menu__item-link {
  color: $white;
}

.footer__social-item {
  fill: $white;
}

.footer__social-item + .footer__social-item {
  margin-left: 25px;
}

.footer__social--fb svg {
  width: 28px;
  height: 28px;
}

.footer__social--inst svg {
  width: 28px;
  height: 28px;
}

.footer__social--vk svg {
  width: 48px;
  height: 28px;
}
