.footer {
  padding: 50px 0px;

  background-color: $primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $white;
  }
}

.footer-menu__nav-list {
  display: flex;
}

.footer-menu__item + .footer-menu__item {
  margin-left: 36px;
}

.footer-menu__item-link {
  color: $white;
}
