.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  transition: all 0.3s ease;

  transform: translateY(0);

  padding: 10px 0;

  box-shadow: 0 7px 20px 0 rgba(59, 58, 58, 0.25);
  background: $white;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    justify-self: center;
    color: $white;
  }
}

.header.out {
  transform: translateY(-110%);
}

.header__logo-img {
  width: 100%;
  max-width: 40px;
  height: 55px;
}

.header.top {
  padding-top: 20px;

  background: transparent;
  box-shadow: none;

  & .header__logo-img {
    fill: $white;
  }

  & .header__tel-icon {
    svg {
      fill: $white;
    }
  }

  & .burger,
  .burger::before,
  .burger::after {
    background-color: $white;
  }
}

.header.top.mobile {
  & .burger::before,
  .burger::after {
    background-color: $black;
  }
}

.header.top .nav-list__item-link {
  color: $white;
}

.menu {
  @include breakpoint($xmd-bp) {
    display: none;
    flex-direction: column;
  }
}

.menu__nav-list {
  display: flex;

  @include breakpoint($xmd-bp) {
    flex-direction: column;
  }
}

.nav-list__item + .nav-list__item {
  margin-left: 33px;
}

.nav-list__item-link {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.header__tel-link {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 162px;
  height: 50px;

  font-size: 1.4rem;
  line-height: 1.1;
  color: $white;

  padding: 9px 26px;

  background-color: rgba(9, 9, 9, 0.6);

  @include breakpoint($xmd-bp) {
    max-width: 142px;
    padding: 9px 16px;
  }

  @include breakpoint(625px) {
    display: none;
  }
}

.header__tel-icon {
  display: none;

  @include breakpoint(625px) {
    display: block;
  }

  svg {
    width: 20px;
    height: 20px;

    fill: $white;

    @include breakpoint(625px) {
      fill: $black;
    }
  }
}

.header__social {
  display: none;
}

// mobile

.header.mobile {
  padding-bottom: 100px;

  background-color: $white;

  & .header__inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  & .menu__nav-list {
    margin-bottom: 15px;
  }

  & .nav-list__item {
    margin-left: 0;
    margin-bottom: 15px;
  }

  & .nav-list__item-link {
    color: $black;
  }

  & .header__tel-link {
    display: block;

    line-height: 2;

    margin-bottom: 30px;

    background-color: $primary;
  }

  & .header__tel-icon {
    display: none;
  }

  & .header__social {
    display: flex;
  }

  & .social-item {
    display: flex;

    padding: 8px;

    background-color: $primary;
  }

  & .social-item--tg svg,
  .social-item--inst svg {
    width: 16px;
    height: 16px;

    fill: $white;
  }

  & .burger-menu {
    align-self: flex-start;
  }
}

.burger-menu {
  display: none;

  text-align: left;

  height: 24px;

  cursor: pointer;

  @include breakpoint($xmd-bp) {
    display: block;
  }
}

.burger,
.burger::before,
.burger::after {
  width: 35px;
  height: 2px;

  background-color: $black;
  border-radius: 3px;

  transition: all 0.2s linear;
}

.burger {
  position: relative;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
}

.burger::before {
  width: 29px;
  top: 22px;
}

.burger::after {
  width: 22px;
  top: 12px;
}

.burger-menu.menu-on .burger::after {
  width: 14px;

  transform: rotate(-45deg);
}
.burger-menu.menu-on .burger::before {
  width: 14px;

  top: 12px;

  transform: rotate(45deg);
}
.burger-menu.menu-on .burger {
  background: rgba($black, 0);
}
