.intro {
  position: relative;

  height: 100vh;
  max-height: 860px;

  background: linear-gradient(
      0deg,
      rgba(34, 29, 27, 0.75),
      rgba(34, 29, 27, 0.75)
    ),
    url(../images/intro-bg.png) center no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    max-width: 1313px;
    height: 100%;
    max-height: 847px;

    background: url(../images/intro-ellipse.png) right no-repeat;
    background-size: cover;

    pointer-events: none;

    @include breakpoint($xmd-bp) {
      display: none;
    }
  }
}

.intro__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  height: 100vh;
  max-height: 860px;

  padding-bottom: 56px;
}

.intro__inner-content {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.2;

  margin-top: auto;
}

.intro__inner-supDescription {
  font-size: 2.4rem;

  margin-bottom: 6px;

  @include breakpoint($xmd-bp) {
    font-size: 1.8rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
  }
}

.intro__inner-title {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.05em;

  text-transform: none;

  @include breakpoint($xmd-bp) {
    font-size: 1.6rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
  }
}

.intro__inner-description {
  position: relative;

  font-weight: 600;
  font-size: 3.6rem;

  margin-bottom: 50px;

  @include breakpoint($xmd-bp) {
    font-size: 3rem;
    margin-bottom: 25px;
  }

  @include breakpoint($sm-bp) {
    font-size: 2.2rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;

    margin-left: 24px;

    transform: translateY(-50%);
    width: 189px;
    height: 3px;

    background: $white;

    @include breakpoint($xmd-bp) {
      width: 136px;
    }

    @include breakpoint(625px) {
      display: none;
    }
  }
}

.intro__social {
  display: flex;
  flex-direction: column;

  @include breakpoint($sm-bp) {
    display: none;
  }

  & .social-item {
    display: flex;

    padding: 12px;
    margin-left: 0;
    margin-bottom: 30px;

    background-color: rgba(9, 9, 9, 0.6);

    @include breakpoint($xmd-bp) {
      padding: 8px;
      margin-bottom: 19px;
    }
  }

  & .social-item--tg svg,
  .social-item--inst svg {
    width: 26px;
    height: 26px;

    fill: $white;

    @include breakpoint($xmd-bp) {
      width: 16px;
      height: 16px;
    }
  }
}
