.other-projects {
  margin-bottom: 100px;

  @include breakpoint(680px) {
    margin-bottom: 60px;
  }
}

.other-projects__inner {
  margin-bottom: 100px;
}

.other-projects__item-img {
  width: 100%;
  max-width: 440px;
  height: auto;

  margin-bottom: 15px;
}

.other-projects__item-title {
  font-weight: bold;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: $black;

  margin-bottom: 5px;
}

.other-projects__btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.other-projects__btn-portfolio {
  color: $white;

  background: $primary;

  &::after {
    background: linear-gradient(to right, $white 57%, $black 43%);
  }

  &:hover {
    color: $black;
    background: $white;

    &::after {
      background: $black;
    }
  }

  @include breakpoint(680px) {
  }
}

.other-projects__prev-next {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1;
  text-align: center;

  @include breakpoint($sm-bp) {
    display: none;
  }
}

.other-projects__prev,
.other-projects__next {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%) rotateY(180deg);

    width: 7px;
    height: 14px;

    background: url(../images/arrow.png) no-repeat;
  }
}

.other-projects__prev {
  padding-left: 13px;
  margin-right: 20px;
}

.other-projects__next {
  padding-right: 13px;

  margin-bottom: 32px;

  &::after {
    left: inherit;
    right: 0;

    transform: translateY(-50%) rotateY(0deg);
  }
}
