.partners__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partners__item {
  width: 100%;
  max-width: 400px;
  max-height: 150px;

  text-align: center;

  padding: 25px 0;

  @include breakpoint($lg-bp) {
    width: 45%;

    padding: 15px 0;
  }
}

.partners__item:nth-child(even) {
  margin-left: 10px;
}

.partners-item__img {
  max-width: 100%;
  height: auto;
}
