.portfolio__grid {
  margin: 0 auto;
}

.portfolio__button-group {
  margin-bottom: 30px;

  white-space: nowrap;
  overflow: scroll;

  &.padding-left-content {
    @include breakpoint(1400px) {
      padding-left: 0;
      text-align: center;
    }
  }
}

.portfolio__button-group::-webkit-scrollbar {
  width: 0;
}

.portfolio__button {
  font-family: Raleway, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $black;

  background-color: transparent;
  border: none;
}

.portfolio__button.is-checked {
  font-weight: bold;
}

.portfolio__button + .portfolio__button {
  margin-left: 23px;
}

.portfolio-element__img-wrapper {
  width: 100%;
  max-width: 440px;

  margin-bottom: 18px;

  @include breakpoint(960px) {
    max-width: 350px;
  }

  @include breakpoint(750px) {
    max-width: 290px;
  }

  @include breakpoint(630px) {
    max-width: 390px;
  }
}

.portfolio__element-title {
  font-weight: bold;
  font-size: 2.2rem;

  text-transform: uppercase;

  @include breakpoint($sm-bp) {
    font-size: 2rem;
  }
}

.portfolio__element {
  width: 100%;
  max-width: 440px;

  padding: 0 2.5px;
  margin-bottom: 45px;

  @include breakpoint(960px) {
    max-width: 350px;
  }

  @include breakpoint(750px) {
    max-width: 290px;
  }

  @include breakpoint(630px) {
    max-width: 390px;
  }

  @include breakpoint(415px) {
    max-width: 290px;
  }
}

.portfolio__element-img {
  display: block;
  width: 100%;
  height: auto;

  &:hover {
  }
}

.portfolio__btn {
  display: block;

  margin-top: 10px;
  margin-left: auto;
  padding: 11px 10px 10px 55px;

  &::after {
    left: -30px;
  }

  &:hover {
    color: #fefdfd;
    background: #2d2d2d;

    &::after {
      background: linear-gradient(to right, $black 43%, $white 43%);
    }
  }
}

.visible_item {
  display: none;
}
