.portfolio__grid {
  margin: 0 auto;
}

.portfolio__button-group {
  margin-bottom: 30px;
}

.portfolio__button {
  font-family: Raleway, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $black;

  background-color: transparent;
  border: none;
}

.portfolio__button.is-checked {
  font-weight: bold;
}

.portfolio__button + .portfolio__button {
  margin-left: 23px;
}

.portfolio-element__img-wrapper {
  width: 100%;
  max-width: 440px;
  max-height: 500px;

  margin-bottom: 18px;
}

.portfolio__element-title {
  font-weight: bold;
  font-size: 2.2rem;

  text-transform: uppercase;
}

.portfolio__element {
  width: 100%;
  max-width: 440px;

  padding: 0 2.5px;
  margin-bottom: 45px;
}

.portfolio__element-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio__btn {
  display: block;

  margin-top: 10px;
  margin-left: auto;
  padding: 11px 10px 10px 55px;

  &::after {
    left: -30px;
  }
}

.visible_item {
  display: none;
}
