.project {
  padding-top: 200px;

  @include breakpoint($md-bp) {
    padding-top: 170px;
  }
}

.header--project .menu--project .nav-list__item-link {
  color: $black;
}

.header--project.top .header__logo-img--project {
  fill: $black;
}

.header--project.top .burger-menu--project {
  & .burger,
  .burger::before,
  .burger::after {
    background-color: $black;
  }
}

.header--project.top.mobile .burger-menu--project {
  & .burger::before,
  .burger::after {
    background-color: $black;
  }
}

.header--project.top.mobile .burger-menu--project {
  & .burger {
    background-color: $white;
  }
}

.header--project.top .header__tel-icon--project svg {
  fill: $black;
}

.project__title {
  max-width: 560px;
}

.project__data-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 100px;
}

.project__data {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 760px;

  margin-top: 100px;
  margin-right: 50px;

  @include breakpoint(1024px) {
    margin-top: 50px;
  }
}

.project__data-items {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 30px;
}

.project__data-item {
  display: flex;

  margin-bottom: 10px;
}

.project__data-item:nth-child(2n + 1) {
  flex-basis: 40%;
  margin-right: 10px;
}

.project-data__item-title {
  font-weight: bold;
  letter-spacing: 0.125em;
  text-transform: uppercase;

  margin-right: 20px;
}

.project-data__descr-title {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.8;
  letter-spacing: 0.125em;
  text-transform: uppercase;

  margin-bottom: 15px;
}

.project__scheme {
  width: 100%;
  max-width: 640px;
  height: auto;

  @include breakpoint($md-bp) {
    margin: 0 auto;
  }
}

.project__scheme-img {
  width: 100%;
  height: auto;
}

.project__images-img {
  display: block;
  width: 100%;
  max-width: 1800px;
  height: auto;

  margin: 0 auto;
  margin-bottom: 30px;
}
