<div class="modal-form hide">
    <div class="modal-form__content">
        <span class="modal-form__close" data-close>&times;</span>

        <p class="modal-form__title">Ваша заявка принята</p>
        <p class="modal-form__text">Наш специалист свяжется с Вами в течение 15 минут</p>
        <p class="modal-form__text">Посмотрите пока наши профили в соц.сетях. Вас ждут полезные советы в ремонте,
            интересные опросы, обзоры работ</p>

        <div class="modal-form__social">
            <a class="social-item social-item--fb" href="#">
                <svg>
                    <use xlink:href="#fb"></use>
                </svg>
            </a>
            <a class="social-item social-item--inst" href="#">
                <svg>
                    <use xlink:href="#inst"></use>
                </svg>
            </a>
            <a class="social-item social-item--vk" href="#">
                <svg>
                    <use xlink:href="#vk"></use>
                </svg>
            </a>
        </div>
    </div>
</div>