<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    {{> sprite }}

    <div class="page">

        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}

    </div>

    {{> form-confirmed}}

    <!-- JS -->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/components/calculator.js"></script>
    <script src="assets/js/components/isotope.js"></script>
</body>

</html>